{% extends 'viewsets/base.html' %}

{% load i18n %}
{% load viewsets_tags %}

{% block title %}{% trans 'Edit' %} &laquo;{{ object }}&raquo;{% endblock %}

{% block breadcrumbs %}
    {% if viewset|viewset_has:'list' %}
        <li><a href="{% viewset_reverse 'list' %}">{{ viewset.model_options.verbose_name_plural|capfirst }}</a></li>
    {% endif %}
    {% if viewset|viewset_has:'detail' %}
        <li><a href="{% viewset_reverse 'detail' pk=object.pk %}">{{ object }}</a></li>
    {% endif %}
    <li class="active">{% trans 'Edit' %}</li>
{% endblock %}

{% block content %}
    <h2>{% trans 'Edit' %} &laquo;{{ object }}&raquo;</h2>
    <div class="row">
        <div class="col-md-12">
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% viewset_render_form form %}
                        <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
